*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url('beeple_bg.jpg');
    color: white;
}

.wrapper{
    margin: auto;
    width: 80%;
    text-align: center;
}

div{
    margin-top: 20px;
}

.content{
    float: left;
    width: 20vw;
    height: auto;
    padding: 20px;
    background-color: #fff;
    background-color: rgba(255,255,255,0.2);
    border-radius: 5px;
}

.details{
    margin-left: 25vw;
    padding: 10px;
}

table{
    text-align: center;
    margin: auto;
    border: 1px solid white;
}

tr, td, th{
    padding: 10px;
    margin: auto;
}

input{
    padding: 10px;
    background-color: black;
    border: 1px solid white;
    color: white;
}


button{
    padding: 10px;
    background-color: white;
    color: black;
    border: 1px solid white;
}


h5, h4{
    display:inline-block
}

select{
    margin-left: 10px ;
    display: inline-block;
}

a{
    color: white;
}

.intro{
    margin-top: 40vh;
    font-weight: bold;
    font-size: large;
}