*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background: black;
    color: white;
}

.wrapper{
    margin:  50px auto;
    width: 80%;
    text-align: center;
}

div{
    margin-top: 20px;
}


.button-29 {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
  border: 0;
  border-radius: 20px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.button-29:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.button-29:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-29:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}


.content{
    height: fit-content;
    padding: 20px;
    width: 400px;
    margin: auto;
    background-color: #fff;
    background-color: rgba(255,255,255,0.2);
    border-radius: 20px;
}

.content button{
    font-size: 80%;
    width: 200px;
}

.details{
    padding: 10px;
    margin: auto;
}

.details h5, .details input, .details h4 {
    font-size: 90%;
}

#table{
    width: 90%;
}

table{
    text-align: center;
    margin: auto;
    border: 1px solid white;
    width: fit-content;
}

th{
    background-color: white;
    color: black;
}

tr, td, th{
    padding: 0 5px;
}

input{
    padding: 8px;
    background-color: black;
    border: 1px solid white;
    color: white;
    border-radius: 20px;
}



button:hover{
    background-color: coral;
    border: 1px solid coral;
    cursor: pointer;
}


h5, h4{
    display:inline-block
}

select{
    margin-left: 10px ;
    display: inline-block;
}

a{
    color: white;
}

a:hover{
    color: coral;
}

.intro{
    /* margin-top: 10vh; */
    font-weight: bold;
    font-size: 250%;
}



#table{
    margin: auto;
}

select{
    border-radius: 20px;
    padding: 0 5px;
}

#myTable{
    width: 80%;
}